<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <div class="details content ">
            <% if(blog) { %> 
                <h2><%= blog.title %></h2>
                <div class="content container-fluid"> 
                    <p><%= blog.body %></p>
                </div>
                <a class="delete" data-del="<%= blog._id %>" >Delete</a>
            <% } else { %>
                <h1>opps it was deleted!</h1>
            <% } %>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script>
        const del = document.querySelector('a.delete')

        del.addEventListener('click',(e)=>{
            const endPoint = `/blogs/${del.dataset.del}`
            fetch(endPoint,{
                method:'DELETE'
            })
            .then()
            .catch((err)=>console.log(err))
        })
        // const trash = document.querySelector('a.delete')

        // trash.addEventListener('click',(e)=>{
        //     const endPoint = `/blogs/${trash.dataset.doc}`
        //     fetch(endPoint,{
        //         method:'DELETE'
        //     })
        //     .then((response)=> response.json() )
        //     .then((data)=> { window.location.href=data.redirect })
        //     .catch(err=>console.log(err))
        // })
    </script>
</body>
</html>